.header{
    justify-content: space-between;
    width: 100%;
    min-height: 150px;
    background-color: #B3D2E7;
    padding-right: 20px;
    position: sticky;
    top: 0;
    z-index: 1;
}
.nav{
    justify-content: space-evenly;
}
.a{
    text-decoration: none;
    font-size: 2rem;
    font-family: 'Poppins-Bold';
    color: #FFF;
}
.a:visited{
    color: #FFF;
}
