.section{
    
    flex-direction: column;
}
.section > h1{
    width: 100%;
}
.area-card{
    margin-top: 2%;
    min-width: 100%;
    height: fit-content;
    scroll-snap-type: x mandatory;
    overflow-x: hidden;
    column-gap: 2rem;
    padding-bottom: 20px;
}