.cadastro-add{
    width: 60%;
    height: fit-content;
    gap: 2rem 0rem;
}
.input-area{
    min-width: 40%;
    justify-content: space-between;
    align-items: center;
    gap: 0rem 2rem;
}
.input-area input{
    font-size: 1.5rem;
    border-radius: 15px;
    
}
.input-area label{
    text-align: end;
    font-size: 1.5rem;
    min-width: 40%;
}
#outro{
    flex: 1;
}